rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Κάθε χρήστης βλέπει και αλλάζει μόνο τα δικά του δεδομένα.
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
